body {
    background-color:#101010;
}

h1 {
    font-weight:100;
}

#theform {
    margin-left:auto;
    margin-right:auto;
}

#footer {
    text-align:center;
    color:#EEEEEE;
    padding:25px;
}

#page {
    color:#101010;
    width:600px;
    padding:50px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:#EEEEEE;
    margin-left:auto;
    margin-right:auto;
    font-family:"Myriad Pro","Myriad Web","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-shadow: inset 0 0 15px #888;
}

.courselabel {
    min-width:100px;
}

.tutoriallabel {
    font-size:80%;
}

input {
    width:150px;
    min-width:0;
}

#thetable {
    width:500px;
}

#engage { margin-left:auto; }

#page A:link {color:#404040; text-decoration:none;}
#page A:visited {color:#404040; text-decoration:none;}
#page A:active {color:#404040; text-decoration:none;}
#page A:hover {color:#404040; text-decoration:underline;}

#footer A:link {color:#A0A0A0; text-decoration:none;}
#footer A:visited {color:#A0A0A0; text-decoration:none;}
#footer A:active {color:#A0A0A0; text-decoration:none;}
#footer A:hover {color:#A0A0A0; text-decoration:underline;}







